<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.1.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd">
	<profiles>
		<profile>
			<id>cosbeni</id>
			<repositories>
				<repository>
					<id>local</id>
					<name>local repository</name>
					<url>file:/root/.m2/repository/</url>
					<layout>default</layout>
					<releases>
						<enabled>true</enabled>
						<updatePolicy>always</updatePolicy>
					</releases>
					<snapshots>
						<enabled>false</enabled>
						<updatePolicy>always</updatePolicy>
					</snapshots>
				</repository>
				<repository>
					<id>caja</id>
					<url>http://google-caja.googlecode.com/svn/maven</url>
					<releases>
						<enabled>true</enabled>
						<updatePolicy>always</updatePolicy>
					</releases>
					<snapshots>
						<enabled>false</enabled>
						<updatePolicy>always</updatePolicy>
					</snapshots>
				</repository>
				<repository>
					<id>oauth</id>
					<url>http://oauth.googlecode.com/svn/code/maven</url>
					<releases>
						<enabled>true</enabled>
						<updatePolicy>always</updatePolicy>
					</releases>
					<snapshots>
						<enabled>false</enabled>
						<updatePolicy>always</updatePolicy>
					</snapshots>
				</repository>
				<repository>
					<id>jboss</id>
					<name>JBoss Public Maven Repository Group</name>
					<url>https://repository.jboss.org/nexus/content/groups/public/</url>
					<layout>default</layout>
					<releases>
						<enabled>true</enabled>
						<updatePolicy>always</updatePolicy>
					</releases>
					<snapshots>
						<enabled>true</enabled>
						<updatePolicy>always</updatePolicy>
					</snapshots>
				</repository>
				<repository>
					<id>cosbeni</id>
					<name>Cosbeni Public Maven Repository Group</name>
					<url>http://repository.cosbeni.com/nexus/content/groups/public/</url>
					<releases>
						<enabled>true</enabled>
						<updatePolicy>always</updatePolicy>
					</releases>
					<snapshots>
						<enabled>trune</enabled>
						<updatePolicy>always</updatePolicy>
					</snapshots>
				</repository>
				<repository>
					<id>smartclient</id>
					<name>Smart Client Public Repository</name>
					<url>http://www.smartclient.com/maven2</url>
					<releases>
						<enabled>true</enabled>
						<updatePolicy>always</updatePolicy>
					</releases>
					<snapshots>
						<enabled>false</enabled>
						<updatePolicy>always</updatePolicy>
					</snapshots>
				</repository>
				<repository>
					<id>magnolia-snapshot</id>
					<name>Magnolia Nexus Snapshot Repository Proxy</name>
					<url>http://nexus.magnolia-cms.com/content/repositories/magnolia.public.snapshots</url>
					<releases>
						<enabled>false</enabled>
						<updatePolicy>always</updatePolicy>
					</releases>
					<snapshots>
						<enabled>true</enabled>
						<updatePolicy>always</updatePolicy>
					</snapshots>
				</repository>
				<repository>
					<id>magnolia-releases</id>
					<name>Magnolia Nexus Releases Repository Proxy</name>
					<url>http://nexus.magnolia-cms.com/content/repositories/magnolia.public.releases</url>
					<releases>
						<enabled>true</enabled>
						<updatePolicy>never</updatePolicy>
					</releases>
					<snapshots>
						<enabled>false</enabled>
						<updatePolicy>never</updatePolicy>
					</snapshots>
				</repository>
				<repository>
					<id>magnolia-old-releases</id>
					<name>Magnolia Old Releases Repository Proxy</name>
					<url>http://repo.magnolia-cms.com/m2</url>
					<releases>
						<enabled>true</enabled>
						<updatePolicy>never</updatePolicy>
					</releases>
					<snapshots>
						<enabled>false</enabled>
						<updatePolicy>never</updatePolicy>
					</snapshots>
				</repository>				
				<repository>
					<id>vaadin-addons</id>
					<url>http://maven.vaadin.com/vaadin-addons</url>
				</repository>
				<repository>
					<id>icefaces-releases</id>
					<name>Icefaces Nexus Releases Repository Proxy</name>
					<url>http://anonsvn.icefaces.org/repo/maven2/releases</url>
					<releases>
						<enabled>true</enabled>
						<updatePolicy>never</updatePolicy>
					</releases>
					<snapshots>
						<enabled>false</enabled>
						<updatePolicy>never</updatePolicy>
					</snapshots>
				</repository>
			</repositories>
			<pluginRepositories>
				<pluginRepository>
					<id>local</id>
					<name>local repository</name>
					<url>file:/root/.m2/repository/</url>
					<layout>default</layout>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
				</pluginRepository>
				<pluginRepository>
					<id>cosbeni</id>
					<name>Cosbeni Public Maven Repository Group</name>
					<url>http://repository.cosbeni.com/nexus/content/groups/public/</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
				</pluginRepository>
				<pluginRepository>
					<id>jboss</id>
					<name>JBoss Public Maven Repository Group</name>
					<url>https://repository.jboss.org/nexus/content/groups/public/</url>
					<layout>default</layout>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
				</pluginRepository>
				<pluginRepository>
					<id>magnolia-snapshot</id>
					<name>Magnolia Nexus Snapshot Repository Proxy</name>
					<url>http://nexus.magnolia-cms.com/content/repositories/magnolia.public.snapshots</url>
					<releases>
						<enabled>false</enabled>
						<updatePolicy>never</updatePolicy>
					</releases>
					<snapshots>
						<enabled>true</enabled>
						<updatePolicy>never</updatePolicy>
					</snapshots>
				</pluginRepository>
				<pluginRepository>
					<id>magnolia-releases</id>
					<name>Magnolia Nexus Releases Repository Proxy</name>
					<url>http://nexus.magnolia-cms.com/content/repositories/magnolia.public.releases</url>
					<releases>
						<enabled>true</enabled>
						<updatePolicy>never</updatePolicy>
					</releases>
					<snapshots>
						<enabled>false</enabled>
						<updatePolicy>never</updatePolicy>
					</snapshots>
				</pluginRepository>
			</pluginRepositories>
		</profile>
	</profiles>
	<activeProfiles>
		<activeProfile>cosbeni</activeProfile>
	</activeProfiles>
</settings>
